@red:					#ff0000;
@black:				#000000;
@white:				#ffffff;
@light-grey:	#eeeeee;
@med-grey:		#999999;
@dark-grey:		#4d4d4d;
@blue:				#0e94ec;

@text:				@dark-grey;
@text-link:		@black;
@link:				@dark-grey;
@link-alt:		@blue;
@pre-text:		@light-grey;
@pre-bg:	    @dark-grey;

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

body {
	position: absolute;
	top: 0;

	margin: 0;
	padding: 0;
	background-color: @white;

	color: @text;
	font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 100%;
}

a {
	color: @link;
	text-decoration: none;
	&:link {
		color: @link;
	}
	&:hover {
		color: @link-alt;
		outline: 0;
	}
	&:active {
		color: @link-alt;
		outline: 0;
	}
	&:focus {
		outline: thin dotted;
	}
	&:visited {
		color: darken(@link, 10%);
	}
}

pre {
	margin: 1.5em 0;
	color: @black;
	background-color: @light-grey;
	border: 1px solid @light-grey;
	font-family: 'Inconsolata', 'Consolas', 'Deja Vu Sans Mono', 'Droid Sans Mono', Courier New, monospace, serif;
	padding: 1.5em;
	overflow: auto;
	.box-shadow;
	.border-radius(15px);
}

.background-clip() {
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
}

.border-radius (@radius: 5px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.box-shadow() {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}

.clearfix {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.wrap() {
	text-wrap: wrap;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

section#sidebar {
	width: 258px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	min-height: 700px;
	z-index: 0;

	figure {
		margin: 40px 40px;
		width: 130px;
		height: 130px;
		background-color: @light-grey;
	}

	.user_meta {
	}

	h1 {
		margin: 30px 20px 10px 0px;
		padding: 0 0 0 40px;
		display: block;
		font-family: 'Freight Sans Pro', 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: bold;
		font-size: 34px;
		line-height: 38px;
		a {
		}
	}

	h2 {
		margin: 0 40px 0 0;
		padding: 0 0 0 40px;
		font-size: 18px;
		font-weight: 200;
		line-height: 20px;
	}

	ul {
		margin: 50px 0 0 0;
		padding: 0 0 0 40px;
	}

	li {
		margin: 0;
		padding: 10px 0 20px;

		clear: both;
		display: block;
		float: none;

		a {
			color: @med-grey;
			font-size: 16px;
			line-height: 19px;
			border: 2px solid @light-grey;
			.border-radius(35px);
			z-index: 999;
			padding: 7px 15px;
		}
	}

	#footer {
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 60px;

		width: 258px;
		text-align: center;
		color: @med-grey;
		font-size: 12px;
		font-weight: 200;
		line-height: 15px;
	}
}

section#posts {
	position: absolute;
	top: 0;
	margin: 0 0 0 260px;
	z-index: 1;
	border-left: @light-grey 1px solid;

	header {
		margin: 0;
		padding: 40px 40px 40px 50px;
		text-transform: uppercase;
		text-weight: 200;
		text-size: 16px;
		line-height: 33px;

		h1 {
			margin: 0;
			padding: 0;
			height: 0;
			width: 0;
			visibility: hidden;
		}
		h3 {
			margin: 0;
			padding: 0;
		}
	}

	article {
		margin: 0;
		padding: 40px 40px 40px 50px;
		width: 620px;
		position: relative;
		border-top: @light-grey 1px solid;
		font-size: 16px;
		line-height: 25px;
		overflow-x: hidden;
		overflow-y: hidden;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 30px;
			font-weight: bold;
			line-height: 40px;
		}
	}
}
