{% extends "base.html" %}
{% block content %}
	<header>
		<h1>{{ AUTHOR }}'s blog</h1>
		<h3>
			<script type="text/javascript">
				var currentDate = new Date();
				var day = currentDate.getDate();
				var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec" ];
				var month = monthNames[currentDate.getMonth()].toUpperCase();
				var year = currentDate.getFullYear();
				document.write(month + " " + day + ", " + year);
			</script>
		</h3>
	</header>

	<dl id="tag_list">
		<ul>
		{% for category, articles in categories %}
			<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
		{% endfor %}
		</ul>
	</dl>
{% endblock %}
